{% extends 'base.html.twig' %}
{% block body %}
				<header id="header" class="col-full">
					<div id="logo">
						<h1 class="site-title">Site web marchand</h1>
					</div>
				</header>
				<main class="main-recap">
<section>
					<h1>Merci pour votre achat !</h1>
                    <div class="entry-content">
							<div class="woocommerce">
                            <h2>Récapitulatif de votre commande</h2>
								<div
									class="woocommerce-cart-form"							
									
									>
									<table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents" cellspacing="0">
										<thead>
											<tr>
												<th class="product-thumbnail"></th>
												<th class="product-name">Produit</th>
												<th class="product-price">Prix</th>
												<th class="product-quantity">Quantité</th>
												<th class="product-subtotal">Total</th>
											</tr>
										</thead>
										<tbody>
										{% for lignePanier in panier.lignesPanier %}
											<tr class="woocommerce-cart-form__cart-item cart_item">
												<td class="product-thumbnail"><img
													class="attachment-shop_thumbnail wp-post-image" width="145"
													height="145" alt="hoodie_4_front"
													src="{{ asset(lignePanier.article.image) }}"></td>
												<td class="product-name">{{ lignePanier.article.titre }}</td>
												<td class="product-price"><span class="amount">{{ lignePanier.prixUnitaire }}€</span></td>
												<td class="product-quantity">
													<div class="quantity">{% set random = random() %}
														<label class="screen-reader-text" for="quantity_{{ random }}">Quantity</label>
                                                        <p>{{ lignePanier.quantite }}</p>
													</div>
												</td>
												<td class="product-subtotal"><span class="amount">{{ lignePanier.prixTotal }}€</span></td>
											</tr>
											{% endfor %}
											
										</tbody>

									</table>
								</div>
								<div class="cart-collaterals">
									<div class="cross-sells"></div>
									<div class="cart_totals ">
										<h2>Total de la commande</h2>
										<table cellspacing="0">
											<tbody>
												<tr class="cart-subtotal">
													<th>Sous-total</th>
													<td><span class="amount">{{ panier.total }}€</span></td>
												</tr>
												<tr class="shipping">
													<th>Frais de port</th>
													<td>Gratuit</td>
												</tr>
												<tr class="order-total">
													<th>Total</th>
													<td><strong> <span class="amount">{{ panier.total }}€</span>
													</strong></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
                                <a class="btn-recherche" href="afficheRecherche">Rechercher d'autres produit</a>
							</div>
						</div>

                                    

 </section>

 <style>
    .main-recap {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-recherche {
        background-color: black;
        padding: 10px;
        color: white;
    }
 </style>
				</main>
{% endblock %}
